.board_wrapper {
	background: rgb(46, 170, 77);
	background: -moz-linear-gradient(
		0deg,
		rgba(46, 170, 77, 1) 16%,
		rgba(19, 93, 0, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(46, 170, 77, 1) 16%,
		rgba(19, 93, 0, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(46, 170, 77, 1) 16%,
		rgba(19, 93, 0, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2eaa4d",endColorstr="#135d00",GradientType=1);
	text-align: center;
	height: 800px;
	display: flex;
	flex-direction: column;
}

.deck_wrapper {
	flex: 2;
}

.board_activecard {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deck_middle_wrapper {
	display: flex;
}

#deck_displayed {
	margin-right: 30px;
	background-image: url('../../assets/cardback.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 220px;
	width: 160px;
	margin: 10px 10px;
}

.card {
	height: 200px;
	width: 160px;
	background-image: url('../../assets/cardback.jpg');
	margin: 10px 10px;
	background-repeat: no-repeat;
	background-size: contain;
}

.deck_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.deck_content_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.card--selected {
	height: 200px;
	width: 160px;
	background-color: aliceblue;
	margin: 10px 10px;
}

.card--selected::after {
	content: '\1f0ba';
	font-size: 250px;
	line-height: 0.6;
}

.card_typepicker {
	height: 40px;
	width: 100px;
	background-color: white;
	position: relative;
	top: -25%;
	left: 25%;
	z-index: 1;
}

.card_typepicker span {
	font-size: 2rem;
}

.card_typepicker span:hover {
	color: red;
	cursor: pointer;
}

.test::after {
	font-size: 18rem;
	content: '\1f0a8';
	text-align: center;

	background: linear-gradient(
		to right,
		#fff 20%,
		#ff0 40%,
		#ff0 60%,
		#fff 80%
	);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shine 1s linear infinite;
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.board_btn {
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color: #fe1a00;
	border-radius: 6px;
	border: 1px solid #d83526;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	padding: 16px 50px;
	margin: 0 10px;
}

.board_btn:hover {
	background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color: #ce0100;
}

.board_btn:active {
	position: relative;
	top: 1px;
}

.board_heading {
	border: 2px solid white;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board_heading span {
	color: white;
	font-weight: bold;
	font-size: 20px;
	animation: grow 2s;
}

@keyframes grow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
